<% include ./partials/header %>

<div style="margin:auto; display:block" class="postIt spin" class="fadeOut">Hello World! <br>Add A Post-It! </div>



<br>
<input id="postItEntry" type="text" class="board" placeholder="add a post it....">

<div class="rainbow"><h1>MEME MODE</h1></div>
<div id="toggle" class="container">
  <div class="circle"></div>
</div>



<% include ./partials/footer %>
</html>